doctype html
html
  head
    title Hitesh Dance Academia
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href='/') Home]
            li #[a(href='/') Servicessss]
            li #[a(href='/') About]
            li #[a(href='#contact') Contact Us]
    block content