doctype html
html
  head
    title Hitesh Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href='/') Homeee]
            li #[a(href='/') Services]
            li #[a(href='/') About]
            li #[a(href='#contact') Contact Us]
    block content